body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #dfd7d7;
    color: rgb(7, 7, 7);
    text-align: center;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header button {
    background-color: #8caf4c;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

main {
    padding: 20px;
}

#issue-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

textarea,
input,
select {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#loginBtn,
#logoutBtn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

#app {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.issue-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-top: 15px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.issue-card button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
}
